<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-warning">Home</span>Decor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="decor" routerLinkActive="active-link">Decor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="furniture" routerLinkActive="active-link">Furniture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="kitchen" routerLinkActive="active-link">Kitchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lights" routerLinkActive="active-link">Lights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sofas" routerLinkActive="active-link">Sofas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="wall" routerLinkActive="active-link">Wall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
        </li>
        </ul>
        <div class="pi-col-1 tools">
          <i class="bi bi-cart2 cart2" routerLink="AddToCartComponent" routerLinkActive="active-link"></i>
          <i class="bi bi-person person"></i>
        </div>
        
    </div>
  </div>
</nav>

<!-- carausel -->
