<ng-container *ngIf="true">

    <div class="card-table">
        <div class="cart-product">
            <table class="table-responsive">
                <thead>
                    <tr>
                    <th>Sr.No</th>
                    <th>Product NAme</th>
                    <th>Product Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>total</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>Sofas</td>
                    <td>decor</td>
                    <td>lights</td>
                    
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My cart</h5>
        </div>
        <div class="center">
            <h4>your card is empty now</h4>
            <button class="btn btn-primary">
                shop now
            </button>
        </div>
    </div>
</ng-container>